<div class="card mt-4">
    <h1 class="card-title text-center bg-primary text-light p-3">Lista de Pedidos WaiterApp</h1>
    <table class="table">
        <tr>
            <th>Mesa</th>
            <th>Status</th>
            <th>Produtos</th>
        </tr>
        <tr *ngFor="let order of orders">
            <td>{{order.table}}</td>
            <td>{{order.status}}</td>
            <td>
                <ul *ngFor="let produto of order['products']">
                    <li>{{produto.name}}</li>
                </ul>
            </td>
        </tr>
    </table>
</div>